body{background-image: url(../images/background.jpeg);position:relative;}
.about{background-color:#F1D31F; width:65%;padding-left:20px; padding-top: 20px;padding-bottom:20px;margin-top: 20px;margin-left:255px;line-height:2.5;font-size:1.5em;}
.about h1{color:#60585f;font-weight:700;font-size:2em;letter-spacing:.5rem;text-shadow: 2px 2px 8px #FF0000;text-decoration: underline;}
.about ul li{font-size:3em, color:red;font-style: italic;}
