.one{background-color:#7400F8;}
.two{background-color:#FDFDFF;}
.bodybg{background-color: black;}
.both{margin-left: 10px;margin-right: 10px;}
.one img{padding-top: 175px;padding-left: 60px;}
.position{text-align: center;margin-top: 40px;}
.position li{float:left;list-style-type:none;padding-left:150px;margin-top: 15px;font-size:2em;color:black;}
.position li a{color:#585B61;}
.text{padding-top: 20%;text-align: center;display: block;}
h2{font-size:4em;font-weight:800;font-family: sans-serif;color:rgb(30, 33, 38);}
h1{font-family:'Architects Daughter', cursive;letter-spacing:.1rem;}
