<<<<<<< HEAD
body{height: 100%; overflow: hidden;}
img{width:100%;}
div{float: left;
	width: 45%;
	height: 50%;
    }

#text{background-color: rgb(153, 102, 51);
       width: 50%;
       padding-left:10px;
       padding-right:5px;
       margin-left:1cm;
       }    

 


=======
img{width:100;}
>>>>>>> origin/master
