body{background-image: url(dev.jpeg); background-size:cover;
     background-position: center;}
h1, h2 {
  font-size:4em;
  font-weight:600;
  font-family: sans-serif;
  color:rgb(30, 33, 38);}
li{font-weight: 500; font-size:2.0em; color: rgb(0, 153, 204);}
nav{background-color:rgb(255, 255, 255);}
.intro{float:center;
      padding-top: 25%;}
button{border-radius: 50%; text-align: center;
      padding: 32px 16px;}
